@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,300&display=swap");

* {
  /* font-family: 'DM Sans', sans-serif; */
  font-family: "Poppins", sans-serif;
}


.ReactTable {
  /* width: 1150px; */
  /* overflow-x: auto; */
  display: block;
  border-collapse: collapse;
  margin-left: 40px;
  margin-top: 20px;
  z-index: -200;

}

.headerNoWrap {
  text-wrap: nowrap;
}

.main-table-wrapper {
  /* margin: 10px 20px 0px 0px; */
 
}

.table-fields-wrapper {
  /* background-color: blue; */
  /* right: 0; */
  max-height: 785px;

}


/* 
.css-0 > .css-12y4u6o{
  text-align: right;
  color: blue;
  font-weight: bold;
} */